/* Ensure the chat window is scrollable */
.chat-window {
    max-height: 100%;
    overflow-y: auto;
}


.right-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
}

.full-height {
    height: 100vh;
}

.full-height-minus-input {
    flex-grow: 1;
    margin-bottom: 5px;
}

.input-group-container {
    margin-top: 5px;
}

.custom-card {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5px - 50px); /* Adjust 50px to the height of the input group container */
    overflow: hidden; /* Ensure the card does not grow beyond the specified height */
}

.custom-card-body {
    flex-grow: 1;
    overflow-y: auto;
}
