<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GlobalSisCore" value="https://pkgs.dev.azure.com/silverleafsystems/a8b352f5-45e8-4fd3-9d8f-bf898031ab32/_packaging/GlobalSisCore/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="telerik" value="https://nuget.telerik.com/v3/index.json" />    
  </packageSources>
  <packageSourceCredentials>
    <telerik>
        <add key="Username" value="bob.miller@silverleafsystems.com" />
        <add key="ClearTextPassword" value="senvuk-jitqi1-feCkaq" />
    </telerik>
    <GlobalSisCore>
        <add key="Username" value="GlobalSisCoreArtifactToken" />
        <add key="ClearTextPassword" value="25t5lyuv2dbxpsw2a2c3eqbp2lp4fdatohzqc6x5zee37trijnfq" />
    </GlobalSisCore>
</packageSourceCredentials>
</configuration>